<ActionBar title ="Groceries"></ActionBar>

<FlexboxLayout>
    <StackLayout class="form">
        <Image src="~/app/images/logo.png"></Image>
        <TextField
        [(ngModel)]="user.email"
        class="input input-border"
        hint="Email Address"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none">
        </TextField>

        <TextField
        [(ngModel)]="user.password"
        class="input input-border"
        hint="Password"
        secure="true">
        </TextField>

        <Button class="btn btn-primary"
            [text]="isLoggingIn ? 'Sign in' : 'Sign up'"
            (tap)="submit(user)">
        </Button>
        <Button [text]="isLoggingIn ? 'Sign up' : 'Back to Login'"
        (tap)="toggleDisplay()">
        </Button>
    </StackLayout>
</FlexboxLayout>
