<mat-card>
    <mat-card-header>
      <mat-card-title>Log-in</mat-card-title>
      <mat-card-subtitle>Insira seu username & password</mat-card-subtitle>
    </mat-card-header>
    <form #form="ngForm" novalidate (ngSubmit)="login(form)">
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input name="username" ngModel matInput required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input  type="password" name="password" ngModel matInput required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <a routerLink="/register" mat-raised-button color="primary">Não possui uma conta? Registre-se</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
    </mat-card-actions>
</form>
  </mat-card>