.topicos{
  width: 100vw;
  height: 50vh;
  background-color: #000;
  color: #FFFFFF99;
  padding: 90px;
  h6 {
  color: #FFF
}

li{
  list-style: none;
  line-height: 3;
}

}

.rodape{
  background: #DDD;
  height: 5vh;

  p {
    padding-top: 6px;
  }
}
