#user-pic {
  float: left;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  margin: -1px;
  margin-right: 12px;
  margin-left: 25px;
}

header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2.3em;
  margin-bottom: 4px;
  font-weight: lighter;
}

header h4 {
  padding-left: 4.5em;
  margin-top: 0;
}

header {
  border-bottom: 1px solid #dfdfdf;
}

#todo-list {
  border: 1px solid #dfdfdf;
  width: 800px;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 15px;
  border-radius: 3%;
  height: 663px;
}

main section:first-child {
  margin: 50px;
}

.checks {
  float: right;
  display: none;
}

input[type="text"] {
  height: 54px;
  margin: 0 3%;
  width: 94%;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 8px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding-left: 0px;
}

ul li:not(:first-child) {
  height: 40px;
  border: 1px solid #dfdfdf;
  margin: 14px 19px 0 23px;
  padding-top: 23px;
  padding-left: 11px;
  border-radius: 3%;
  width: 93%;
}

.box {
  background: #fff;
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 38px;
  border-radius: 100%;
  border: 1px solid #000;
}

.box:hover {
  background: #2cf046d7;
  border: 1px solid #000;
}
